* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'gg-sans';
  src: url('/assets/font/gg sans Regural.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans';
  src: url('/assets/font/gg sans Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans';
  src: url('/assets/font/gg sans Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'gg-sans';
  src: url('/assets/font/gg sans Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

body {
  background: linear-gradient(135deg, #000000 0%, #455ad4 100%);
  color: white;
  min-height: 100vh;
  font-family: 'gg-sans', sans-serif;
}

/* Navbar */
.header {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  margin-top: 0.5rem;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
  padding: 0.8rem;
  border-radius: 10px;
}

.nav-links a:hover {
  background-color: #5865f2;
}

.login-btn {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.nav-buttons {
  display: none;
  align-items: center;
}

.nav-buttons1 {
  display: block;
}

.mobile-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

.discord-logo {
  width: 30px;
  height: 30px;
  display: none;
}

.hamburger {
  cursor: pointer;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
}

.hero-text {
  max-width: 42%;
  padding: 0 3.5rem;
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 30px;
  line-height: .8;
  text-transform: uppercase;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.download {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.btn-1 {
  background-color: white;
  color: black;
  padding: 1.3rem 1.7rem;
  border-radius: 12px;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn-1:hover {
  background-color: rgb(176, 171, 171);
}

.btn-2 {
  background-color: #5865f2;
  padding: 1.3rem 1.7rem;
  border-radius: 12px;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn-2:hover {
  background-color: #4256d9;
}

.hero-image img {
  width: 100%;
  max-width: 47.5rem;
}

.btn {
  display: none;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.fun-chat-section {
  padding: 10px;
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 120px;
  margin: 0 auto;
  margin-bottom: 7rem;
  color: white;
  position: relative;
  text-align: center;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 10px 8px rgba(243, 241, 241, 0.2);

}

.gif {
  width: 70%;
  display: flex;
  margin-top: 10rem;
  justify-content: flex-end;
}

.fun-chat-gif {
  width: 140px;
}

.fun-chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  padding: 10px;
}

.fun-chat-left {
  flex: 0 0 63%;
}

.fun-chat-right {
  flex: 0 0 35%;
}

.fun-chat-video {
  width: 100%;
  max-width: 735px;
  border-radius: 100px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.fun-chat-right {
  text-align: left;
}

.fun-chat-right h2 {
  font-size: 3.2rem;
  font-weight: bolder;
  margin-bottom: 20px;
  line-height: .8;
  text-transform: uppercase;
}

.fun-chat-right1 {
  text-align: left;
  padding-left: 20px;
}

.fun-chat-right1 h2 {
  font-size: 3.2rem;
  font-weight: bolder;
  margin-bottom: 20px;
  line-height: .8;
  text-transform: uppercase;
}

.fun-chat-right1 p {
  font-size: 1.1rem;
  line-height: 1.2;
  padding-right: 2rem;
}

.fun-chat-right p {
  font-size: 1.1rem;
  line-height: 1.6;
  padding-right: 2rem;
}

.tape-container {
  overflow: hidden;
  background-color: #1c2271;
  padding: 1.5rem 0;
  white-space: nowrap;
  margin: 2rem 0;
}

.tape-line {
  display: flex;
  gap: 3rem;
  animation: scrollTape 10s linear infinite;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  align-items: center;
}

.tape-item {
  display: contents;
  align-items: center;
}

.tape-item img {
  width: 35px;
  height: 23px;
}

.text {
  width: 100%;
  text-align: center;
  margin: 10rem 0;
  padding: 5px;
}

.text p {
  font-weight: bolder;
  font-size: 3.6rem;
}

.text button {
  background-color: white;
  color: black;
  padding: 1.3rem 1.5rem;
  border-radius: 15px;
  font-weight: normal;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.f-container {
  position: relative;
  overflow: hidden;
}

.footer-bg2 {
  width: 100%;
}

.footer-bg2 img {
  width: 100%;
  height: auto;
  padding: 0 15rem;
}

.footer-bg1 {
  position: absolute;
  top: 22%;
  left: 58%;
  transform: translateX(-50%);
  z-index: 2;
}

.footer-bg1 img {
  width: 60%;
  height: auto;
}

.custom-footer {
  background: linear-gradient(to bottom, #2b2bd2, #4c5fd6);
  color: white;
  padding: 4rem 0 0 0rem;
  font-family: sans-serif;
}

.custom-footer span img {
  width: 100%;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5rem;
  margin: 2rem 0 auto;
  gap: 5rem;
}

.footer-left {
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.discordlogo {
  width: 15%;
}

.language-selector {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.language-selector select {
  background-color: #5865f2;
  border: none;
  border-radius: 8px;
  padding: 1.2rem;
  margin-top: 1rem;
  font-size: 18px;
  color: white;
}

.language-selector option {
  padding: 1.2rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.2s ease;
}

.social-icons a:hover {
  color: #7289da;
}

.footer-right {
  display: flex;
  flex: 3;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer-column {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-column h4 {
  font-weight: bold;
  font-size: 14px;
  color: #b0b4ff;
}

.footer-column a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7rem;
}

.footer-column a:hover {
  text-decoration: underline;
}

@keyframes scrollTape {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 15px 30px;
  }

  .hero-text {
    max-width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .download {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .mobile-header {
    display: flex;
    /* gap: 210px; */
  }

  .discord-logo {
    width: 30px;
    height: 30px;
    /* display: none; */
  }

  .nav-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background: linear-gradient(135deg, #5865f2 0%, #2a34b1 100%);
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 20px 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    border-radius: 8% 0% 0% 8%;
    justify-content: end;
  }

  .nav-container.active~.mobile-header .discord-logo {
    display: block;
  }

  .nav-container.active {
    right: 0;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .nav-links li {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .nav-links a {
    display: block;
    padding: 0;
    border-radius: 0;
  }

  .nav-links a:hover {
    background-color: transparent;
    text-decoration: underline;
  }

  .nav-buttons {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .nav-buttons1 {
    display: none;
  }

  .nav-buttons {
    display: block;
  }

  .login-btn {
    width: 100%;
    background-color: inherit;
    color: white;
    border: 2px solid white;
  }

  .btn {
    display: block;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
  }

}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .custom-footer p {
    font-weight: bolder;
    font-size: 6.1rem;
  }

  .custom-footer {
    padding: 0;
    margin-top: 2.8rem;
  }

  .fun-chat-container {
    flex-direction: column;
    text-align: center;
  }

  .discord-logo {
    width: 30px;
    height: 30px;
    display: block;
  }

  .text p {
    font-weight: 900;
    font-size: 2.8rem;
  }

  .fun-chat-section {
    width: 90%;
    border-radius: 80px;
  }
  .fun-chat-video{
    border-radius: 50px;
  }

  .fun-chat-right1 h2{
    padding-top: 10px;
  }

  .discordlogo {
    padding-top: 2rem;
  }

  .fun-chat-right {
    text-align: center;
  }

  .fun-chat-gif {
    width: 100px;
  }

  .f-container {
    padding-top: 4rem;
  }

  .footer-bg1 img {
    width: 100%;
    height: auto;
  }

  .footer-bg1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}